.featuredPost {
    clear: both;
    padding: 20px 0 40px;

    @include MQ(M) {
        font-size: 16px;
    }
}

.postImage {
    display: block;
    position: relative;
}

.postImageWrapper {
    position: relative;
    padding-bottom: 65%;
    margin: 0 auto;
    width: 100%;
    background-color: $brand_secondary;
    overflow: hidden;

    .blogPostItem & {
        padding-bottom: 52.25%;
    }
    
    .featuredPost & {
        border-radius: 25px;
    }
}

.bannerImage {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    font-family: "object-fit:cover";
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
}

.postMeta {
    @include flexbox();
    align-items: center;
    margin-bottom: 10px;
    color: inherit;

    .featuredPost & {
        color: $color_grey_dark;
    }
}

.postMetaItem {
    font-size: 1em;

    & +.postMetaItem {
        &::before {
            content: "•";
            padding: 0 10px;
            color: $brand_secondary_light;
    
            .featuredPost & {
                color: $brand_secondary;
            }
        }
    }
}

.postTitle {
    display: block;
    line-height: 1.45;
    font-size: 28px;

    @include MQ(M)  {
        font-size: 48px;
    }

    .blogPostItem & {
        font-size: 16px;

        @include MQ(M) {
            font-size: 20px;
        }
    }
}

.postExcerpt {
    line-height: 1.8em;
    max-height: 9em;
    color: inherit;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogPostItem {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.postItemWrapper {
    color: $color_white;
    text-decoration: none;
    opacity: 1;
    overflow: hidden;
    height: 100%;
    @include transition(all .4s ease-in-out 0s);

    .blogPostItem & {
        border-radius: 5px;
        background-color: $brand_black;
        display: block;
    }

    .featuredPost & {
        color: $color_text;
    }

    &:hover, &:focus {
        opacity: .8;
        text-decoration: underline;
    }
}

.postThumbDetails {
    width: 100%;
    padding: 20px 15px;
}

.featuredImage {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    
    img {
        display: inline-block;
    }
}

.post_header {
    clear: both;
    margin-bottom: 20px;
}

.postContent {
    @include flexbox();
    
    @include MQ-MAX(M) {
        flex-direction: column;
    }
}

.postArticle {
    overflow: hidden;
    font-size: 16px;
    position: relative;

    @include MQ(M) {
        font-size: 21px;
    }

    img {
        display: inline-block;
        object-fit: fill;
        object-position: center center;
        text-align: center;
        margin: 20px 0 7.5px;
    }
    
    ol,ul {
        list-style: inherit;
        padding: 10px 20px;

        li {
            display: list-item;
            clear: both;
            padding-bottom: 5px;
        }
    }
    
    ol {
        li {
            list-style: decimal;

            > ol > li {
                list-style: lower-alpha;
            } 
        }
    }
        
    h2, h3, h4 {
        margin: 40px 0 20px;
        display: block;
        font-weight: 400;
    }
    
    p:not(:last-of-type) {
        margin-bottom: .65em;
    }
}

.postControl {
    flex-shrink: 0;

    @include MQ-MAX(M) {
        padding-top: 30px;
    }

    @include MQ(M) {
        width: 160px;
        margin-left: 40px;
        text-align: center;
    }
}

.postAuthor {
    @include flexbox();
    font-size: 14px;
    align-items: center;

    @include MQ(M) {
        flex-direction: column;
    }
}

.authorImage {
    flex-shrink: 0;
    margin-right: 20px;
    align-items: center;

    @include MQ(M) {
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 0;
    }
}

.postInfoWidget {
    clear: both;
    padding: 20px 0;
}

.social_links {
    clear: both;
    fill: $brand_accent;

    a + a {
        margin-left: 20px;
    }
}
