// colors

$brand_primary: #0E1F4E; 
$brand_secondary: #4B9F9C;
$brand_secondary_light: #F5FFF5;
$brand_accent: #FEBA15;
$brand_accent_light: #FCF3DC;
$brand_black: #212121;
$brand_red: #EA4335;
$color_text: #353535;
$color_text_gray: #555555;
$color_white: #FCFDF8; 
$color_grey_dark: #757575; 
$color_grey_light: #c5c5c5;
$border_grey: #d5d5d5;
$border_grey_light: #E5E5E5;
$border_grey_dark: #959595;

$body_font: 'Mulish',Open Sans, Segoe UI, sans-serif;
$header_font: 'Mulish',Open Sans, Segoe UI, sans-serif;

$header_height: 80px;
$header-zindex: 100;
$sidebar_width: 350px;
